{% extends "user_layout.html" %}
{% block content %}
<script src="{{ url_for('static', filename='scripts/payment.js') }}"></script>
<div class="flex-grow bg-light">
    <div class="flex flex-col items-center max-w-3xl py-10 mx-auto">
        <h1 class="pt-10 text-3xl font-bold"> Pricing Plans Subsciprion </h1>
        <a class="pt-2 underline" href="{{ url_for('logout') }}"> logout </a>
        <div class="flex flex-row gap-4 pt-10">
            {% if sub_info  %}
                {% if sub_info['sub_type'] == 'Weekly' %}
                    <div class="text-center border-2 border-gray-400 rounded-lg p-7">
                        <p class="text-4xl">&pound;29.99</p>
                        <p class="pb-5 font-light"> per month </p>
                        <a class="bg-[#de5499] text-white px-3 py-2 rounded-2xl text-sm font-semibold" href="{{ url_for('change_sub', sub_type='price_1Oq0ePBOq9yxp4iH6x70225p') }}"> Change Plan </a>
                        <ul class="px-5 pt-10 list-disc text-start">
                            <li> Enjoy unlimited access to premium content and events for just &pound;29.99 a month. </li>
                            <li> Save over 20% compared to the weekly membership, ensuring value and convenience. </li>
                            <li> Dive deeper into our world and save money while unlocking benefits. </li>
                        </ul>
                    </div>
                    <div class="text-center border-2 border-gray-400 rounded-lg p-7">
                        <p class="text-4xl">&pound;159.99</p>
                        <p class="pb-5 font-light"> per year </p>
                        <a class="bg-[#de5499] text-white px-3 py-2 rounded-2xl text-sm font-semibold" href="{{ url_for('change_sub', sub_type='price_1Oq0exBOq9yxp4iHNSaQqcSN') }}"> Change Plan </a>
                        <ul class="px-5 pt-10 list-disc text-start">
                            <li> Unlock a year's worth of exclusive features and priviliges for only &pound;159.99. </li>
                            <li> Save over 30% compared to the monthly membership, maximizing your value and savings. </li>
                            <li> Invest in your journey with us and enjoy substantial savings while gaining access to premium content and events throughout the year. </li>
                        </ul>
                    </div>
                {% elif sub_info['sub_type'] == 'Monthly' %}
                    <div class="text-center border-2 border-gray-400 rounded-lg p-7">
                        <p class="text-4xl">&pound;9.99</p>
                        <p class="pb-5 font-light"> per week </p>
                        <a class="bg-[#de5499] text-white px-3 py-2 rounded-2xl text-sm font-semibold" href="{{ url_for('change_sub', sub_type='price_1Oq0dPBOq9yxp4iHDuxAglHI') }}"> Change Plan </a>
                        <ul class="px-5 pt-10 list-disc text-start">
                            <li> Try before you buy! </li>
                            <li> Unlock exclusive content and perks. </li>
                        </ul>
                    </div>
                    <div class="text-center border-2 border-gray-400 rounded-lg p-7">
                        <p class="text-4xl">&pound;159.99</p>
                        <p class="pb-5 font-light"> per year </p>
                        <a class="bg-[#de5499] text-white px-3 py-2 rounded-2xl text-sm font-semibold" href="{{ url_for('change_sub', sub_type='price_1Oq0exBOq9yxp4iHNSaQqcSN') }}"> Change Plan </a>
                        <ul class="px-5 pt-10 list-disc text-start">
                            <li> Unlock a year's worth of exclusive features and priviliges for only &pound;159.99. </li>
                            <li> Save over 30% compared to the monthly membership, maximizing your value and savings. </li>
                            <li> Invest in your journey with us and enjoy substantial savings while gaining access to premium content and events throughout the year. </li>
                        </ul>
                    </div>
                {% else %}
                    <div class="text-center border-2 border-gray-400 rounded-lg p-7">
                        <p class="text-4xl">&pound;9.99</p>
                        <p class="pb-5 font-light"> per week </p>
                        <a class="bg-[#de5499] text-white px-3 py-2 rounded-2xl text-sm font-semibold" href="{{ url_for('change_sub', sub_type='price_1Oq0dPBOq9yxp4iHDuxAglHI') }}"> Change Plan </a>
                        <ul class="px-5 pt-10 list-disc text-start">
                            <li> Try before you buy! </li>
                            <li> Unlock exclusive content and perks. </li>
                        </ul>
                    </div>
                    <div class="text-center border-2 border-gray-400 rounded-lg p-7">
                        <p class="text-4xl">&pound;29.99</p>
                        <p class="pb-5 font-light"> per month </p>
                        <a class="bg-[#de5499] text-white px-3 py-2 rounded-2xl text-sm font-semibold" href="{{ url_for('change_sub', sub_type='price_1Oq0ePBOq9yxp4iH6x70225p') }}"> Change Plan </a>
                        <ul class="px-5 pt-10 list-disc text-start">
                            <li> Enjoy unlimited access to premium content and events for just &pound;29.99 a month. </li>
                            <li> Save over 20% compared to the weekly membership, ensuring value and convenience. </li>
                            <li> Dive deeper into our world and save money while unlocking benefits. </li>
                        </ul>
                    </div>
                {% endif %}
            {% else %}
            <div class="text-center border-2 border-gray-400 rounded-lg p-7">
                <p class="text-4xl">&pound;9.99</p>
                <p class="pb-5 font-light"> per week </p>
                <button class="bg-[#de5499] text-white px-3 py-2 rounded-2xl text-sm font-semibold" id="price_1Oq0dPBOq9yxp4iHDuxAglHI" stripe-button> Subscribe Now </button>
                <ul class="px-5 pt-10 list-disc text-start">
                    <li> Try before you buy! </li>
                    <li> Unlock exclusive content and perks. </li>
                </ul>
            </div>
            <div class="text-center border-2 border-gray-400 rounded-lg p-7">
                <p class="text-4xl">&pound;29.99</p>
                <p class="pb-5 font-light"> per month </p>
                <button class="bg-[#de5499] text-white px-3 py-2 rounded-2xl text-sm font-semibold" id="price_1Oq0ePBOq9yxp4iH6x70225p" stripe-button> Subscribe Now </button>
                <ul class="px-5 pt-10 list-disc text-start">
                    <li> Enjoy unlimited access to premium content and events for just &pound;29.99 a month. </li>
                    <li> Save over 20% compared to the weekly membership, ensuring value and convenience. </li>
                    <li> Dive deeper into our world and save money while unlocking benefits. </li>
                </ul>
            </div>
            <div class="text-center border-2 border-gray-400 rounded-lg p-7">
                <p class="text-4xl">&pound;159.99</p>
                <p class="pb-5 font-light"> per year </p>
                <button class="bg-[#de5499] text-white px-3 py-2 rounded-2xl text-sm font-semibold" id="price_1Oq0exBOq9yxp4iHNSaQqcSN" stripe-button> Subscribe Now </button>
                <ul class="px-5 pt-10 list-disc text-start">
                    <li> Unlock a year's worth of exclusive features and priviliges for only &pound;159.99. </li>
                    <li> Save over 30% compared to the monthly membership, maximizing your value and savings. </li>
                    <li> Invest in your journey with us and enjoy substantial savings while gaining access to premium content and events throughout the year. </li>
                </ul>
            </div>

            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}